# place this file in /etc/udev/rules.d

# CH-340 USB-Serial adapter chipset
  SUBSYSTEM=="tty", \
  ATTRS{idVendor}=="1a86", \
  ATTRS{idProduct}=="7523", \
  GROUP="dialout", \
  MODE="0660", \
  SYMLINK+="ttyCH340 ttyCH340.%n"
